/* event.css */

@tailwind base;
@tailwind components;
.event-card {
  background: #eeeaff;
  color: rgba(0,0,0,.57);
  border-radius: 5px;
  padding: 3px 5px;
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.event-card .time {
  margin-right: 5px;
}

.event-card:hover {
  opacity: .8;
}